<h1>トップページ</h1>
<p>Welcome to Bookers!!</p>
  <div>
    <p class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>
    <p class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign Up</a></p>
  </div>
